
<!DOCTYPE html>
<html lang="en-US">

<head>

	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Tumour Prediction</title>
	<link rel="icon" type="image/png" href="images/favicon.png" sizes="32x32">
	<link rel='stylesheet' href='../static/style.css' type='text/css' media='screen' />
    <link rel="shortcut icon" href="../static/faviconBrain.ico" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />

</head>

<body id="fullsingle" class="page-template-page-fullsingle-me">

<div class="fs-me">

	<!-- Content Container -->
	<div class="content">
		
		<div class="logo">
			
            <p style=font-size:50px;color:#dbdbdb> Tumour Prediction.</p>

		</div>
        
      

		<div class="bio" style="margin-top:-400px;margin-bottom: -100px;">
			
			<p style=text-align:justify;font-size:33px>A brain tumour is a mass or growth of abnormal cells in your brain. Many different types of brain tumors exist. Some brain tumours are non-cancerous, and some brain tumors are cancerous. <br><br> Now, with the help of AI, we're able to perform tumour detection in no time.</p>

		</div>

      <form method="POST" action="/upload">
         <button class="button" style="width:6%; height:25%; margin-top: -40px;margin-bottom: 100px;">Try it now.</button>
       </form>

         <form>
			<img src="../static/brainIcon.svg" alt="Tumour Prediction" width="50" height="50"/>
		</form>

        </div>

		<div class="credit" style="margin-top:10px">

			<p class="copyright">2022, by Chan Hoong Kai.</p>

		</div>

</body>
</html>